@page
@model CatalogOnline.Pages.AddUserModel
@{
    ViewData["Title"] = "Add New User";
}

<h1>Add New User</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="User.Username"></label>
        <input asp-for="User.Username" class="form-control" />
        <span class="text-danger" asp-validation-for="User.Username"></span>
    </div>
    <div class="form-group">
        <label asp-for="User.LegalName">Legal name</label>
        <input asp-for="User.LegalName" class="form-control" />
        <span class="text-danger" asp-validation-for="User.LegalName"></span>
    </div>
    <div class="form-group">
        <label asp-for="User.Email"></label>
        <input asp-for="User.Email" class="form-control" />
        <span class="text-danger" asp-validation-for="User.Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="User.Password"></label>
        <input asp-for="User.Password" type="password" class="form-control" />
        <span class="text-danger" asp-validation-for="User.Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="User.ConfirmPassword">Confirm password</label>
        <input asp-for="User.ConfirmPassword" type="password" class="form-control" />
        <span class="text-danger" asp-validation-for="User.ConfirmPassword"></span>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="User.Role"></label>
        </div>
        <div class="col-5">
            <select asp-for="User.Role" class="form-control">
                <option value="">Select Role</option>
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
                <option value="admin">Admin</option>
                <option value="secretary">Secretary</option>

            </select>
        </div>
        <span class="text-danger" asp-validation-for="User.Role"></span>
    </div>

    <div id="studentFields" style="display: none;">
        <div class="form-group">
            <label asp-for="User.YearOfStudy">Year of Study</label>
            <input asp-for="User.YearOfStudy" class="form-control" />
            <span class="text-danger" asp-validation-for="User.YearOfStudy"></span>
        </div>
        <div class="form-group">
            <label asp-for="User.Group">Group</label>
            <input asp-for="User.Group" class="form-control" />
            <span class="text-danger" asp-validation-for="User.Group"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-success">Add User</button>

    @if (ModelState.ContainsKey("AddUserError"))
    {
        <div class="text-danger mt-2">
            @ModelState["AddUserError"].Errors[0].ErrorMessage
        </div>
    }
</form>

@section Scripts {
    <script>
        document.getElementById("User_Role").addEventListener("change", function () {
            var studentFields = document.getElementById("studentFields");
            if (this.value === "student") {
                studentFields.style.display = "block";
            } else {
                studentFields.style.display = "none";
            }
        });
    </script>
}
