@page
@model CatalogOnline.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (!string.IsNullOrEmpty(Model.LoggedInUsername))
    {
        <p>Hello, @Model.LoggedInUsername</p>
        <p>Id: @Model.LoggedId</p>
        <p>Role: @Model.Role</p>
    }
    else
    {
        <p>Please <a href="/Authentification/Login">log in</a> to see personalized content.</p>
    }
</div>

<div class="text-center mt-4">
    <form method="get" asp-page="/SearchCourse">
        <input type="text" name="searchTerm" placeholder="Search for a course" class="form-control" required />
        <button type="submit" class="btn btn-primary mt-2">Search</button>
    </form>
</div>
