@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (!string.IsNullOrEmpty(Model.LoggedInUsername))
    {
        <p>Hello, @Model.LoggedInUsername</p>
        <p>Id :  @Model.LoggedId</p>
    }
    else
    {
        <p>Please <a href="/Authentification/Login">log in</a> to see personalized content.</p>
    }
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
