@page
@model CatalogOnline.Pages.NotificationsPageModel
@{
    ViewData["Title"] = "Notifications";
}


   <h1 class="text-center">Notification List</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Message</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var notification in Model.Notifications)
            {
                <tr>
                    <td>@notification.user_id</td>
                    <td>@notification.message</td>
                    <td>@notification.date.ToString("yyyy-MM-dd")</td>
                    <td>
                        <button type="button" class="btn btn-update btn-spacing">Update</button>
                        <button type="button" class="btn btn-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="button" class="btn btn-success mb-2">Add New Notification</button>

